<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg px-5 fixed-top bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">E-Commerce</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="nav nav-underline me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/products">Products</a>
                    </li>
                    <li class="nav-item fw-light">
                        <a class="nav-link text-light" href="/products/new">New</a>
                    </li>
                </ul>
                <span class="navbar-text fw-light text-light">
                    Login
                </span>
            </div>
        </div>
    </nav>
    <div class="container-sm" style="width: 600px; margin-top:6rem">
        <form action="/products/<%= product._id %>?_method=PATCH" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name</label>
                <input type="text" value="<%=product.name %>" name="name" class="form-control" id="Name"
                    placeholder="Product Name">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" value=<%=product.image %> name="image" class="form-control" id="image"
                placeholder="Image URL">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" value=<%=product.price %> name="price" class="form-control" id="price"
                placeholder="Product Price">
            </div>
            <div class="mb-3">
                <label for="floatingTextarea">Description</label>
                <textarea class="form-control" name="description" placeholder="Product Description"
                    id="floatingTextarea" style="height: 150px;"><%= product.description %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <div class="fixed-bottom fw-lighter text-light bg-primary mt-2 " style="height: 3rem; ">
        <div class="position-absolute top-50 start-50 translate-middle">
            &#169;
            E-Commerce
            2023
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>